# Version=CentOS7
# Install OS 
install

# System authorisation information
auth --enableshadow --passalgo=sha512

# Use network installation
url --url="ftp://10.14.1.20/pub/pxe/CentOS7"

# Use text/graphical install
#graphical
text

# Keyboard layouts
keyboard --vckeymap=gb --xlayouts='gb'

# System language
lang en_GB.UTF-8

# SELinux configuration
selinux --enforcing

# Firewall configuration
firewall --enabled --ssh
firstboot --disable

# Network information
network  --bootproto=dhcp --device=eth0 --nameserver=10.11.1.120 --noipv6 --activate

# Reboot after installation
reboot
ignoredisk --only-use=sda

# Root password
rootpw --iscrypted $6$uwGfB/Qr7.vgljJ9$5dQGrd4W44V9nF/jLvmrdcYWkUirIeSM.7P/vFSdFNXabLAVwqpTiFT6vU3kwKuZ73ptwBV/9HZfO/HmUpLKy/

# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --location=mbr --timeout=1 --boot-drive=sda
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel

# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=1024 --label=boot --asprimary
part pv.01 --fstype="lvmpv" --ondisk=sda --size=15359
volgroup vg_os pv.01
logvol /tmp  --fstype="xfs" --size=1024 --label="lv_tmp" --name=lv_tmp --vgname=vg_os
logvol /  --fstype="xfs" --size=14331 --label="lv_root" --name=lv_root --vgname=vg_os

%packages
@^minimal
@core
chrony
#repo --name=centos-updates --
#repo --name=base --baseurl=http://10.14.1.20/base/
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%pre
%end

%post --nochroot
%end