    <!-- This is a 'child' template sourced from our master report template. -->
    <!-- To reference a host's facts, use our loop variable named thehost, i.e. hostvars[thehost]['some_fact'] -->
    <hr>
    <h2 id="{{ thehost }}">{{ thehost }}</h2>
 